# Create a new file named config.py and copy the content to that file
# This file was created to store private credentials.

WIFI_SSID = "<Your Wifi SSID>"
WIFI_PASSWORD = "<Your Wifi Password>"
TELEGRAM_BASE_URL = "https://api.telegram.org/bot<HERE_GOES_YOUR_BOT_API_KEY>"
